/*
author: Boostraptheme
author URL: https://boostraptheme.com
License: Creative Commons Attribution 4.0 Unported
License URL: https://creativecommons.org/licenses/by/4.0/
*/

/*====================================================
                         REPORT-1
======================================================*/

#report1 .card-block {
	padding:10px 10px 0 10px;
}

#report1 .text-left.report1-cont {
    margin-bottom: 20px;
}

#report1 .card-block .progress {
	margin-bottom: 10px;
}

#report1 p > small {
	padding-top: 10px;
	color:#777;
}

/*====================================================
                         REPORT-2
======================================================*/
.card-c1 {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 25px 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
}

.card-c1 .card-height-indicator {
    margin-top: 100%;
}

.card.row-space .header {
    padding: 15px 20px 0;
}

.card-c1 .title {
    margin-top: 0;
    margin-bottom: 5px;
}

.card-c1 .card-image {
    height: 60%;
    position: relative;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border-radius: 6px;
}

.card-c1 .card-image img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    pointer-events: none;
}

.card-c1 .card-image .card-title {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #fff;
    font-size: 1.3em;
    text-shadow: 0 2px 5px rgba(33, 33, 33, 0.5);
}

.card-c1 .category:not([class*="text-"]) {
    color: #999999;
}

.card-c1 .card-content {
    padding: 15px 20px;
}

.card-c1 .card-content .category {
    margin-bottom: 0;
}

.card-c1 .card-content h4 {
	color:#555;
	font-size: 19px;
	font-weight: normal;
}

.card-c1 .card-header {
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin: -20px 15px 0;
    border-radius: 3px;
    padding: 15px;
}

.card-c1 .card-header .title {
    color: #FFFFFF;
}

.card-c1 .card-header .category {
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.62);
}

.card-c1 .card-header.card-chart {
    padding: 0;
    min-height: 160px;
}

.card-c1 .card-header.card-chart+.content h4 {
    margin-top: 0;
}

.card-c1 .card-header .ct-label {
    color: rgba(255, 255, 255, 0.7);
}

.card-c1 .card-header .ct-grid {
    stroke: rgba(255, 255, 255, 0.2);
}

.card-c1 .card-header .ct-series-a .ct-point,
.card-c1 .card-header .ct-series-a .ct-line,
.card-c1 .card-header .ct-series-a .ct-bar,
.card-c1 .card-header .ct-series-a .ct-slice-donut {
    stroke: rgba(255, 255, 255, 0.8);
}

.card-c1 .card-header .ct-series-a .ct-slice-pie,
.card-c1 .card-header .ct-series-a .ct-area {
    fill: rgba(255, 255, 255, 0.4);
}

.card-c1 .chart-title {
    position: absolute;
    top: 25px;
    width: 100%;
    text-align: center;
}

.card-c1 .chart-title h3 {
    margin: 0;
    color: #FFFFFF;
}

.card-c1 .chart-title h6 {
    margin: 0;
    color: rgba(255, 255, 255, 0.4);
}

.card-c1 .card-footer {
    /*margin: 0 20px 10px;*/
    background: transparent;
    padding-top: 10px;
    border-top: 1px solid #eeeeee;
}

.card-c1 .card-footer .content {
    display: block;
}

.card-c1 .card-footer div {
    display: inline-block;
}

.card-c1 .card-footer .author {
    color: #999999;
}

.card-c1 .card-footer .stats {
    line-height: 22px;
    color: #999999;
    font-size: 12px;
}

.card-c1 .card-footer .stats .material-icons {
    position: relative;
    top: 4px;
    font-size: 16px;
}

.card-c1 .card-footer h6 {
    color: #999999;
}

/*====================================================
                         REPORT-3
======================================================*/
.card-c2 {
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
    background-color: #FFFFFF;
    margin-bottom: 30px;
}

.card-c2 .table td, .table th {
    padding: .75rem;
    vertical-align: baseline;
    border-top: 1px solid #eceeef;
}

.card-c2 .image {
    width: 100%;
    overflow: hidden;
    height: 260px;
    border-radius: 4px 4px 0 0;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.card-c2 .image img {
    width: 100%;
}

.card-c2 .filter {
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.68);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    filter: alpha(opacity=0);
}

.card-c2 .filter .btn {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.card:hover .filter {
    opacity: 1;
    filter: alpha(opacity=100);
}

.card-c2 .btn-hover {
    opacity: 0;
    filter: alpha(opacity=0);
}

.card:hover .btn-hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.card-c2 .content {
    padding: 15px 15px 10px 15px;
}

.card-c2 .header {
    padding: 15px 15px 0;
}

.card-c2 .category,
.card-c2 label {
    font-size: 14px;
    font-weight: 400;
    color: #9A9A9A;
    margin-bottom: 0px;
}

.card-c2 .category i,
.card-c2 label i {
    font-size: 16px;
}

.card-c2 label {
    font-size: 12px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.card-c2 .title {
    margin: 0;
    color: #333333;
    font-weight: 300;
}

.card-c2 .avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
}

.card-c2 .description {
    font-size: 14px;
    color: #333;
}

.card-c2 .footer {
    padding: 0;
    background-color: transparent;
    line-height: 30px;
}

.card-c2 .footer .legend {
    padding: 5px 0;
}

.card-c2 .footer hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.card-c2 .stats {
    color: #a9a9a9;
}

.card-c2 .footer div {
    display: inline-block;
}

.card-c2 .author {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.card-c2 .author i {
    font-size: 14px;
}

.card-c2 h6 {
    font-size: 12px;
    margin: 0;
}

.card.card-separator:after {
    height: 100%;
    right: -15px;
    top: 0;
    width: 1px;
    background-color: #DDDDDD;
    content: "";
    position: absolute;
}

.card-c2 .ct-chart {
    margin: 30px 0 30px;
    height: 245px;
}

.card-c2 .table tbody td:first-child,
.card-c2 .table thead th:first-child {
    padding-left: 15px;
}

.card-c2 .table tbody td:last-child,
.card-c2 .table thead th:last-child {
    padding-right: 15px;
}

.card-c2 .alert {
    border-radius: 4px;
    position: relative;
}

.card-c2 .alert.alert-with-icon {
    padding-left: 65px;
}


.card-c2 .card-footer {
    padding: .75rem 1.25rem;
     background-color: #fff;
    border-top: 1px solid rgba(0,0,0,.125);
}

/*====================================================
                         REPORT-4
======================================================*/

#report4 #card-2 .card {
    padding-top: 0px;
    padding-bottom: 22px;
    margin: 0px 0 20px 0;
    background-color: #fff;
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -1px 0 2px rgba(0, 0, 0, 0.05);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.padding{
padding-right: 16px;

}

.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}
