/*
author: Boostraptheme
author URL: https://boostraptheme.com
License: Creative Commons Attribution 4.0 Unported
License URL: https://creativecommons.org/licenses/by/4.0/
*/

.cl-blue{
    color: #2196f3;
}
 .overlay {
     position: absolute;
     width: 100%;
     height: 100vh;
     z-index: 0;
    background: rgba(8, 11, 255, 0.22);;
    /* background: linear-gradient(to bottom, rgba(250, 251, 255, 0.3), rgba(5, 16, 240, 0.71)); */

 }

.hero-area {
    background-image: url("../img/login.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size:100% 100%;
}

 .hero-area {
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .contact-h-cont {
    width: 500px;
    margin:0 auto;
    padding:30px;
    background: #fff;
    border-bottom: 4px solid #3250c9
 }
